#ignore all files
#*

#exclude files systemverilog, verilog, waveform
#!*.sv
#!*.v
#!*.wcfg

*.wdf
*.xml
*.lpr
elaborate.txt
*.bat
*.tcl
*.log
*.pb
*.jou

!**/src
!**/sim
!**/tb
!**/waveform
!**/mem
!**/constraints
!**/not_project_files

*.xpr
*.cache
*.runs
*.ip_user_files
*.sim